version: "3"

services:
  db:
    image: postgres
    volumes:
      - .:/app
      - db:/var/lib/postgresql/data
    expose:
      - "5432"

  app:
    image: dmitryrck/ruby
    volumes:
      - .:/app
      - bundle_path:/usr/local/bundle
    env_file: .env
    environment:
      - BUNDLE_APP_CONFIG=/app/.bundle
    working_dir: /app
    command: bundle exec rails server -b 0.0.0.0 -p 3000
    ports:
      - 3000:3000
    depends_on:
      - "db"

volumes:
  bundle_path:
  db:
