version: "3"

services:
  db:
    image: postgres
    volumes:
      - .:/app
      - db:/var/lib/postgresql/data
    expose:
      - "5432"

  app:
    image: dmitryrck/ruby
    volumes:
      - .:/app
      - bundle_path:/usr/local/bundle
    env_file: .env
    environment:
      - BUNDLE_APP_CONFIG=/app/.bundle
    working_dir: /app
    command: bundle exec rails server -b 0.0.0.0 -p 3000
    ports:
      - 3000:3000
    depends_on:
      - "db"

  vue:
    image: node
    environment:
      - HOST=0.0.0.0
      - PORT=4000
      - API_URL=http://localhost:3000
    volumes:
      - ./app/vue:/app
      - ./public:/app/dist
      - node_modules:/app/node_modules
    working_dir: /app
    command: npm run dev
    ports:
      - 4000:4000

volumes:
  bundle_path:
  db:
  node_modules:
